@import 'style-guide';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

.overlay {
    position: fixed;
    min-height: 100vh;
    width: 100vw;
    background-color: $Very-dark-blue;
    opacity: 0.55;
    display: none;
}

.container {
    width: min(90%, 1200px);
    margin-inline: auto;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: .25fr 1fr 1fr;
    grid-gap: 2em;
    
    grid-template-areas: 
        'nav nav nav'
        'main main sidebar'
        'footer footer footer';
    
    }
    

nav {
    @include flex-row;
    grid-area: nav;

    .nav-list {
        @include flex;
        color: $Dark-grayish-blue;
        gap: 1em;

        & {
            list-style: none;
        }
    }

    .nav-menu {
        & {
            display: none;
        }
    }

    .nav-close {
        & {
            display: none;
        }
    }

    a {
        text-decoration: none;
        transition: all 200ms ease-in-out;

        &:hover {
            color: $soft-orange;
        }
    }
}

main {
    grid-area: main;

    .main-content {
        @include flex-row;
        padding-top: 2em;
    }

    .main-headline {
        font-size: 3em;
        font-weight: 800;

        & p {
            width: 70%;
            line-height: 1.2;
        }
    }

    #img-mobile {
        display: none;
    }
    
    .main-headline__description {
        color: $Dark-grayish-blue;
        line-height: 1.5;
        width: 70%;

        & button {
            background-color: $soft-red;
            padding-inline: 2em;
            margin-top: 2em;
            padding-block: .75em;
            cursor: pointer;
            color: $Off-white;
            font-size: 14px;
            letter-spacing: 4px;
            text-transform: uppercase;
            font-weight: 700;
            border: none;
            outline: none;
            transition: all 200ms ease-in-out;

            &:hover {
                background-color: $Very-dark-blue;
            }
        }
    }
}

.sidebar {
    grid-area: sidebar;
    padding: 1em;
    background-color: $Very-dark-blue;

    & span {
        color: $soft-orange;
        font-weight: 700;
        font-size: 2em;
    }

    .sidebar-content {
        padding-top: 2em;

        & span {
            color: $Off-white;
            font-size: 1.2em;
        }
        
        & p {
            color: $Grayish-blue;
            padding-top: 1em;
            padding-bottom: 1em;
        }
        
        &__1 {
            border-bottom: 1px solid $Grayish-blue;
            padding-bottom: .75em;
        }
        
        &__2 {
            padding-top: 2em;
            border-bottom: 1px solid $Grayish-blue;
            padding-bottom: .75em;
        }
        
        &__3 {
            padding-top: 2em;
        }
    }
}

.news {
    grid-area: footer;
    
    .news-content {
        @include flex;
        gap: 2em;

        &__1 {
            @include flex;
        }

        &__2 {
            @include flex;
        }

        &__3 {
            @include flex;
        }
    }

    .news-content__info {
        @include flex-col;
        text-align: left;
        gap: 0;
        
        & span {
            color: $Grayish-blue;
            font-weight: 800;
            font-size: 2em;
        }

        & p {
            color: $Dark-grayish-blue;
        }
    }
}

@media (width <= 1024px) {

    .container {
        width: min(95%, 1000px);
    }

    main {
        .main-headline {
            width: 100%;
        }
    }
}

@media (width <= 820px) {
    .container {
        width: min(90%, 900px);
        grid-template-columns: 1fr;
        grid-template-areas: 
        'nav'
        'main'
        'sidebar'
        'footer';
    }

    nav {
        .nav-list-wrapper {
            // display: none;
            top: 0;
            right: 0;
            background-color: #fff;
            pointer-events: all;
            min-height: 100vh;
            width: 20em;
            transform: translateX(100%);
            position: fixed;
            transition: all 300ms ease-in;
            z-index: 99;
            
            .nav-list {
                display: inline;
                position: absolute;
                top: 10em;
                // font-size: 2em;
                line-height: 3em;
                left: 2em;
            }
        }
        
        .nav-close {
            display: flex;
            position: absolute;
            right: 2em;
            cursor: pointer;
            top: 5em;
        }

        .nav-menu {
            display: flex;
        }
    }

    .main-content {
        @include flex-col;
        text-align: left;
    }

    main {
        text-align: left;

        #img-desktop {
            display: none;
        }

        #img-mobile {
            display: block;
        }

        .main-headline {

            & {
                width: 100%;
            }
        }

        .main-headline__description {
            width: 100%;
        }
    }

    .sidebar {

        .sidebar-content {
            & span {
                padding-bottom: 2em;
            }
        }
    }

    .news {

        .news-content {
            @include flex-col;
        }
    }
}